 @model Intelligent_Editing.Models.ReportModel;

<table>
    <tr>
        <th>English language</th>
        <th>Word count</th>
        <th>Sequence occurances</th>
    </tr>
    <tr>
        <td>@Model.IsEnglishDocument</td>
        <td>@Model.WordCount</td>
        <td>@Model.SequenceOccurances</td>
    </tr>
</table>
